{% extends 'base.html' %}
{% block content %}
<div class="card shadow-sm border-0 p-5 bg-white">
    <h2 class="text-primary fw-bold mb-4">About SmartHire</h2>
    <p class="lead">SmartHire is more than just a job board. We are a bridge between career dreams and professional reality.</p>
    <div class="row mt-5">
        <div class="col-md-6">
            <h4>Our Mission</h4>
            <p>To empower every job seeker by providing access to the best opportunities and helping employers build great teams.</p>
        </div>
        <div class="col-md-6">
            <h4>Why Choose Us?</h4>
            <ul>
                <li>Modern and clean interface</li>
                <li>Fast and efficient application process</li>
                <li>Direct communication with employers</li>
                <li>Trusted by 1000+ companies</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
